@font-face {
  font-family: 'Outicons Extra';
  src: url('../fonts/outicons-extra.eot?94842042');
  src: url('../fonts/outicons-extra.eot?94842042#iefix') format('embedded-opentype'),
       url('../fonts/outicons-extra.woff?94842042') format('woff'),
       url('../fonts/outicons-extra.ttf?94842042') format('truetype'),
       url('../fonts/outicons-extra.svg?94842042#outicons-extra') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'outicons-extra';
    src: url('../font/outicons-extra.svg?94842042#outicons-extra') format('svg');
  }
}
*/
 
 [class^="oi-"]:before, [class*=" oi-"]:before {
  font-family: "Outicons Extra";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.oi-mixer:before { content: '\e800'; } /* '' */
.oi-auto:before { content: '\e801'; } /* '' */
.oi-globe:before { content: '\e802'; } /* '' */
.oi-headset:before { content: '\e803'; } /* '' */
.oi-ascending:before { content: '\e864'; } /* '' */
.oi-audio-wave:before { content: '\e865'; } /* '' */
.oi-baby:before { content: '\e867'; } /* '' */
.oi-bag:before { content: '\e868'; } /* '' */
.oi-battery-charge:before { content: '\e869'; } /* '' */
.oi-battery-empty:before { content: '\e86a'; } /* '' */
.oi-battery-full:before { content: '\e86b'; } /* '' */
.oi-battery-half:before { content: '\e86c'; } /* '' */
.oi-battery-low:before { content: '\e86d'; } /* '' */
.oi-bear:before { content: '\e86e'; } /* '' */
.oi-crystall-ball:before { content: '\e86f'; } /* '' */
.oi-currency:before { content: '\e870'; } /* '' */
.oi-coins:before { content: '\e871'; } /* '' */
.oi-delete:before { content: '\e872'; } /* '' */
.oi-beginning:before { content: '\e873'; } /* '' */
.oi-bluetooth:before { content: '\e874'; } /* '' */
.oi-bolt:before { content: '\e875'; } /* '' */
.oi-descending:before { content: '\e876'; } /* '' */
.oi-diamond:before { content: '\e877'; } /* '' */
.oi-disc:before { content: '\e878'; } /* '' */
.oi-boxes:before { content: '\e879'; } /* '' */
.oi-briefcase:before { content: '\e87a'; } /* '' */
.oi-drop:before { content: '\e87b'; } /* '' */
.oi-drums:before { content: '\e87c'; } /* '' */
.oi-broadcast:before { content: '\e87d'; } /* '' */
.oi-brush:before { content: '\e87e'; } /* '' */
.oi-easel:before { content: '\e87f'; } /* '' */
.oi-eat:before { content: '\e880'; } /* '' */
.oi-bullseye:before { content: '\e881'; } /* '' */
.oi-cabinet:before { content: '\e882'; } /* '' */
.oi-end:before { content: '\e883'; } /* '' */
.oi-location:before { content: '\e884'; } /* '' */
.oi-lipstick:before { content: '\e885'; } /* '' */
.oi-lightbulb:before { content: '\e886'; } /* '' */
.oi-lamp:before { content: '\e887'; } /* '' */
.oi-leaf:before { content: '\e888'; } /* '' */
.oi-key:before { content: '\e889'; } /* '' */
.oi-joystick:before { content: '\e88a'; } /* '' */
.oi-headphone:before { content: '\e88c'; } /* '' */
.oi-gold-bars:before { content: '\e88d'; } /* '' */
.oi-glasses:before { content: '\e88f'; } /* '' */
.oi-gift:before { content: '\e890'; } /* '' */
.oi-cloud:before { content: '\e891'; } /* '' */
.oi-gamepad:before { content: '\e892'; } /* '' */
.oi-child:before { content: '\e893'; } /* '' */
.oi-check-form:before { content: '\e894'; } /* '' */
.oi-fridge:before { content: '\e895'; } /* '' */
.oi-form:before { content: '\e896'; } /* '' */
.oi-chatbox:before { content: '\e897'; } /* '' */
.oi-chart:before { content: '\e898'; } /* '' */
.oi-fire:before { content: '\e899'; } /* '' */
.oi-film:before { content: '\e89a'; } /* '' */
.oi-cell-tower:before { content: '\e89b'; } /* '' */
.oi-female:before { content: '\e89c'; } /* '' */
.oi-cancel-form:before { content: '\e89d'; } /* '' */
.oi-calendar-alt:before { content: '\e89e'; } /* '' */
.oi-fast-forward:before { content: '\e89f'; } /* '' */
.oi-male:before { content: '\e8a0'; } /* '' */
.oi-map:before { content: '\e8a1'; } /* '' */
.oi-shaker:before { content: '\e8a2'; } /* '' */
.oi-rewind:before { content: '\e8a3'; } /* '' */
.oi-medic:before { content: '\e8a4'; } /* '' */
.oi-shield:before { content: '\e8a5'; } /* '' */
.oi-shirt:before { content: '\e8a6'; } /* '' */
.oi-mic:before { content: '\e8a7'; } /* '' */
.oi-shuffle:before { content: '\e8a8'; } /* '' */
.oi-moon:before { content: '\e8aa'; } /* '' */
.oi-signal:before { content: '\e8ab'; } /* '' */
.oi-skull:before { content: '\e8ac'; } /* '' */
.oi-music:before { content: '\e8ad'; } /* '' */
.oi-mute:before { content: '\e8ae'; } /* '' */
.oi-snow:before { content: '\e8af'; } /* '' */
.oi-snowflake:before { content: '\e8b0'; } /* '' */
.oi-new:before { content: '\e8b1'; } /* '' */
.oi-open-box:before { content: '\e8b2'; } /* '' */
.oi-speaker:before { content: '\e8b3'; } /* '' */
.oi-stop:before { content: '\e8b4'; } /* '' */
.oi-pause:before { content: '\e8b5'; } /* '' */
.oi-pie-chart:before { content: '\e8b6'; } /* '' */
.oi-storm:before { content: '\e8b7'; } /* '' */
.oi-sun-cloud:before { content: '\e8b8'; } /* '' */
.oi-pill:before { content: '\e8b9'; } /* '' */
.oi-pin:before { content: '\e8ba'; } /* '' */
.oi-sun:before { content: '\e8bb'; } /* '' */
.oi-treble:before { content: '\e8bc'; } /* '' */
.oi-planet:before { content: '\e8bd'; } /* '' */
.oi-play:before { content: '\e8be'; } /* '' */
.oi-trophy:before { content: '\e8bf'; } /* '' */
.oi-umbrella:before { content: '\e8c0'; } /* '' */
.oi-playlist:before { content: '\e8c1'; } /* '' */
.oi-rain:before { content: '\e8c2'; } /* '' */
.oi-volume-low:before { content: '\e8c3'; } /* '' */
.oi-warning:before { content: '\e8c4'; } /* '' */
.oi-record:before { content: '\e8c5'; } /* '' */
.oi-repeat:before { content: '\e8c6'; } /* '' */
.oi-wave:before { content: '\e8c7'; } /* '' */