
.icon-oi_announce:before { content: '\e800'; } /* '' */
.icon-oi_zoom-out:before { content: '\e801'; } /* '' */
.icon-oi_chevron-right:before { content: '\e802'; } /* '' */
.icon-oi_forward:before { content: '\e803'; } /* '' */
.icon-oi_minus:before { content: '\e804'; } /* '' */
.icon-oi_smile:before { content: '\e805'; } /* '' */
.icon-oi_sort:before { content: '\e806'; } /* '' */
.icon-oi_mobile:before { content: '\e807'; } /* '' */
.icon-oi_frown:before { content: '\e808'; } /* '' */
.icon-oi_chevron-up:before { content: '\e809'; } /* '' */
.icon-oi_arrow-down:before { content: '\e80a'; } /* '' */
.icon-oi_arrow-left:before { content: '\e80b'; } /* '' */
.icon-oi_cloud-upload:before { content: '\e80c'; } /* '' */
.icon-oi_gear:before { content: '\e80d'; } /* '' */
.icon-oi_gplus:before { content: '\e80e'; } /* '' */
.icon-oi_monitor:before { content: '\e80f'; } /* '' */
.icon-oi_move:before { content: '\e810'; } /* '' */
.icon-oi_sound:before { content: '\e811'; } /* '' */
.icon-oi_star-filled:before { content: '\e812'; } /* '' */
.icon-oi_copy:before { content: '\e813'; } /* '' */
.icon-oi_arrow-up:before { content: '\e814'; } /* '' */
.icon-oi_arrow-right:before { content: '\e815'; } /* '' */
.icon-oi_cursor:before { content: '\e816'; } /* '' */
.icon-oi_grid:before { content: '\e817'; } /* '' */
.icon-oi_news:before { content: '\e818'; } /* '' */
.icon-oi_star:before { content: '\e819'; } /* '' */
.icon-oi_attachment:before { content: '\e81a'; } /* '' */
.icon-oi_backward:before { content: '\e81b'; } /* '' */
.icon-oi_discuss:before { content: '\e81c'; } /* '' */
.icon-oi_cut:before { content: '\e81d'; } /* '' */
.icon-oi_heart:before { content: '\e81e'; } /* '' */
.icon-oi_heart-filled:before { content: '\e81f'; } /* '' */
.icon-oi_headphone:before { content: '\e820'; } /* '' */
.icon-oi_paste:before { content: '\e821'; } /* '' */
.icon-oi_pause:before { content: '\e822'; } /* '' */
.icon-oi_support:before { content: '\e823'; } /* '' */
.icon-oi_tablet:before { content: '\e824'; } /* '' */
.icon-oi_tags:before { content: '\e825'; } /* '' */
.icon-oi_pencil:before { content: '\e826'; } /* '' */
.icon-oi_dislike:before { content: '\e827'; } /* '' */
.icon-oi_bell:before { content: '\e828'; } /* '' */
.icon-oi_book:before { content: '\e829'; } /* '' */
.icon-oi_download:before { content: '\e82a'; } /* '' */
.icon-oi_help:before { content: '\e82b'; } /* '' */
.icon-oi_photo:before { content: '\e82c'; } /* '' */
.icon-oi_time:before { content: '\e82d'; } /* '' */
.icon-oi_trash:before { content: '\e82e'; } /* '' */
.icon-oi_plane:before { content: '\e82f'; } /* '' */
.icon-oi_home:before { content: '\e830'; } /* '' */
.icon-oi_edit:before { content: '\e831'; } /* '' */
.icon-oi_bookmark:before { content: '\e832'; } /* '' */
.icon-oi_building:before { content: '\e833'; } /* '' */
.icon-oi_expand:before { content: '\e834'; } /* '' */
.icon-oi_info:before { content: '\e835'; } /* '' */
.icon-oi_play:before { content: '\e836'; } /* '' */
.icon-oi_truck:before { content: '\e837'; } /* '' */
.icon-oi_twitter:before { content: '\e838'; } /* '' */
.icon-oi_plus:before { content: '\e839'; } /* '' */
.icon-oi_laptop:before { content: '\e83a'; } /* '' */
.icon-oi_export:before { content: '\e83b'; } /* '' */
.icon-oi_calendar:before { content: '\e83c'; } /* '' */
.icon-oi_call:before { content: '\e83d'; } /* '' */
.icon-oi_external:before { content: '\e83e'; } /* '' */
.icon-oi_like:before { content: '\e83f'; } /* '' */
.icon-oi_power:before { content: '\e840'; } /* '' */
.icon-oi_unlock:before { content: '\e841'; } /* '' */
.icon-oi_upload:before { content: '\e842'; } /* '' */
.icon-oi_print:before { content: '\e843'; } /* '' */
.icon-oi_link:before { content: '\e844'; } /* '' */
.icon-oi_eye:before { content: '\e845'; } /* '' */
.icon-oi_camera:before { content: '\e846'; } /* '' */
.icon-oi_cancel:before { content: '\e847'; } /* '' */
.icon-oi_facebook:before { content: '\e848'; } /* '' */
.icon-oi_list:before { content: '\e849'; } /* '' */
.icon-oi_refresh:before { content: '\e84a'; } /* '' */
.icon-oi_user:before { content: '\e84b'; } /* '' */
.icon-oi_voice:before { content: '\e84c'; } /* '' */
.icon-oi_sale:before { content: '\e84d'; } /* '' */
.icon-oi_location:before { content: '\e84e'; } /* '' */
.icon-oi_file:before { content: '\e84f'; } /* '' */
.icon-oi_cart:before { content: '\e850'; } /* '' */
.icon-oi_chat:before { content: '\e851'; } /* '' */
.icon-oi_filter:before { content: '\e852'; } /* '' */
.icon-oi_lock:before { content: '\e853'; } /* '' */
.icon-oi_save:before { content: '\e854'; } /* '' */
.icon-oi_warning:before { content: '\e855'; } /* '' */
.icon-oi_wifi:before { content: '\e856'; } /* '' */
.icon-oi_search:before { content: '\e857'; } /* '' */
.icon-oi_mail:before { content: '\e858'; } /* '' */
.icon-oi_flag:before { content: '\e859'; } /* '' */
.icon-oi_check:before { content: '\e85a'; } /* '' */
.icon-oi_chevron-down:before { content: '\e85b'; } /* '' */
.icon-oi_font:before { content: '\e85c'; } /* '' */
.icon-oi_menu:before { content: '\e85d'; } /* '' */
.icon-oi_share-alt:before { content: '\e85e'; } /* '' */
.icon-oi_zoom-in:before { content: '\e85f'; } /* '' */
.icon-oi_share:before { content: '\e860'; } /* '' */
.icon-oi_minimize:before { content: '\e861'; } /* '' */
.icon-oi_forbidden:before { content: '\e862'; } /* '' */
.icon-oi_chevron-left:before { content: '\e863'; } /* '' */