@font-face {
  font-family: 'Outicons';
  src: url('../fonts/outicons.eot?5795348');
  src: url('../fonts/outicons.eot?5795348#iefix') format('embedded-opentype'),
       url('../fonts/outicons.woff?5795348') format('woff'),
       url('../fonts/outicons.ttf?5795348') format('truetype'),
       url('../fonts/outicons.svg?5795348#outicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'outicons';
    src: url('../font/outicons.svg?5795348#outicons') format('svg');
  }
}
*/
 
 [class^="oi-"]:before, [class*=" oi-"]:before {
  font-family: "Outicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.oi-wave:before { content: '\e800'; } /* '' */
.oi-warning:before { content: '\e801'; } /* '' */
.oi-volume-low:before { content: '\e802'; } /* '' */
.oi-umbrella:before { content: '\e803'; } /* '' */
.oi-trophy:before { content: '\e804'; } /* '' */
.oi-treble:before { content: '\e805'; } /* '' */
.oi-sun:before { content: '\e806'; } /* '' */
.oi-storm:before { content: '\e807'; } /* '' */
.oi-sun-cloud:before { content: '\e808'; } /* '' */
.oi-stop:before { content: '\e809'; } /* '' */
.oi-speaker:before { content: '\e80a'; } /* '' */
.oi-snowflake:before { content: '\e80b'; } /* '' */
.oi-snow:before { content: '\e80c'; } /* '' */
.oi-skull:before { content: '\e80d'; } /* '' */
.oi-signal:before { content: '\e80e'; } /* '' */
.oi-shuffle:before { content: '\e80f'; } /* '' */
.oi-shirt:before { content: '\e810'; } /* '' */
.oi-shield:before { content: '\e811'; } /* '' */
.oi-shaker:before { content: '\e812'; } /* '' */
.oi-rewind:before { content: '\e813'; } /* '' */
.oi-male:before { content: '\e814'; } /* '' */
.oi-map:before { content: '\e815'; } /* '' */
.oi-medic:before { content: '\e816'; } /* '' */
.oi-mic:before { content: '\e817'; } /* '' */
.oi-mixer:before { content: '\e818'; } /* '' */
.oi-moon:before { content: '\e819'; } /* '' */
.oi-music:before { content: '\e81a'; } /* '' */
.oi-mute:before { content: '\e81b'; } /* '' */
.oi-new:before { content: '\e81c'; } /* '' */
.oi-open-box:before { content: '\e81d'; } /* '' */
.oi-pause:before { content: '\e81e'; } /* '' */
.oi-pie-chart:before { content: '\e81f'; } /* '' */
.oi-pill:before { content: '\e820'; } /* '' */
.oi-pin:before { content: '\e821'; } /* '' */
.oi-planet:before { content: '\e822'; } /* '' */
.oi-play:before { content: '\e823'; } /* '' */
.oi-playlist:before { content: '\e824'; } /* '' */
.oi-rain:before { content: '\e825'; } /* '' */
.oi-record:before { content: '\e826'; } /* '' */
.oi-repeat:before { content: '\e827'; } /* '' */
.oi-location:before { content: '\e828'; } /* '' */
.oi-lipstick:before { content: '\e829'; } /* '' */
.oi-lightbulb:before { content: '\e82a'; } /* '' */
.oi-leaf:before { content: '\e82b'; } /* '' */
.oi-lamp:before { content: '\e82c'; } /* '' */
.oi-key:before { content: '\e82d'; } /* '' */
.oi-joystick:before { content: '\e82e'; } /* '' */
.oi-headset:before { content: '\e82f'; } /* '' */
.oi-headphone:before { content: '\e830'; } /* '' */
.oi-gold-bars:before { content: '\e831'; } /* '' */
.oi-globe:before { content: '\e832'; } /* '' */
.oi-glasses:before { content: '\e833'; } /* '' */
.oi-gift:before { content: '\e834'; } /* '' */
.oi-gamepad:before { content: '\e835'; } /* '' */
.oi-fridge:before { content: '\e836'; } /* '' */
.oi-form:before { content: '\e837'; } /* '' */
.oi-fire:before { content: '\e838'; } /* '' */
.oi-film:before { content: '\e839'; } /* '' */
.oi-female:before { content: '\e83a'; } /* '' */
.oi-fast-forward:before { content: '\e83b'; } /* '' */
.oi-calendar-alt:before { content: '\e83c'; } /* '' */
.oi-cancel-form:before { content: '\e83d'; } /* '' */
.oi-cell-tower:before { content: '\e83e'; } /* '' */
.oi-chart:before { content: '\e83f'; } /* '' */
.oi-chatbox:before { content: '\e840'; } /* '' */
.oi-check-form:before { content: '\e841'; } /* '' */
.oi-child:before { content: '\e842'; } /* '' */
.oi-cloud:before { content: '\e843'; } /* '' */
.oi-coins:before { content: '\e844'; } /* '' */
.oi-crystal-ball:before { content: '\e845'; } /* '' */
.oi-currency:before { content: '\e846'; } /* '' */
.oi-delete:before { content: '\e847'; } /* '' */
.oi-descending:before { content: '\e848'; } /* '' */
.oi-diamond:before { content: '\e849'; } /* '' */
.oi-disc:before { content: '\e84a'; } /* '' */
.oi-drop:before { content: '\e84b'; } /* '' */
.oi-drums:before { content: '\e84c'; } /* '' */
.oi-easel:before { content: '\e84d'; } /* '' */
.oi-eat:before { content: '\e84e'; } /* '' */
.oi-end:before { content: '\e84f'; } /* '' */
.oi-cabinet:before { content: '\e850'; } /* '' */
.oi-bullseye:before { content: '\e851'; } /* '' */
.oi-brush:before { content: '\e852'; } /* '' */
.oi-broadcast:before { content: '\e853'; } /* '' */
.oi-briefcase:before { content: '\e854'; } /* '' */
.oi-boxes:before { content: '\e855'; } /* '' */
.oi-bolt:before { content: '\e856'; } /* '' */
.oi-bluetooth:before { content: '\e857'; } /* '' */
.oi-beginning:before { content: '\e858'; } /* '' */
.oi-bear:before { content: '\e859'; } /* '' */
.oi-battery-low:before { content: '\e85a'; } /* '' */
.oi-battery-half:before { content: '\e85b'; } /* '' */
.oi-battery-full:before { content: '\e85c'; } /* '' */
.oi-battery-empty:before { content: '\e85d'; } /* '' */
.oi-battery-charge:before { content: '\e85e'; } /* '' */
.oi-bag:before { content: '\e85f'; } /* '' */
.oi-baby:before { content: '\e860'; } /* '' */
.oi-auto:before { content: '\e861'; } /* '' */
.oi-audio-wave:before { content: '\e862'; } /* '' */
.oi-ascending:before { content: '\e863'; } /* '' */
.oi-smile:before { content: '\e864'; } /* '' */
.oi-sort:before { content: '\e865'; } /* '' */
.oi-sound:before { content: '\e866'; } /* '' */
.oi-star-filled:before { content: '\e867'; } /* '' */
.oi-star:before { content: '\e868'; } /* '' */
.oi-support:before { content: '\e869'; } /* '' */
.oi-tablet:before { content: '\e86a'; } /* '' */
.oi-tags:before { content: '\e86b'; } /* '' */
.oi-time:before { content: '\e86c'; } /* '' */
.oi-trash:before { content: '\e86d'; } /* '' */
.oi-truck:before { content: '\e86e'; } /* '' */
.oi-twitter:before { content: '\e86f'; } /* '' */
.oi-unlock:before { content: '\e870'; } /* '' */
.oi-upload:before { content: '\e871'; } /* '' */
.oi-user:before { content: '\e872'; } /* '' */
.oi-voice:before { content: '\e873'; } /* '' */
.oi-warning:before { content: '\e874'; } /* '' */
.oi-wifi:before { content: '\e875'; } /* '' */
.oi-zoom-in:before { content: '\e876'; } /* '' */
.oi-zoom-out:before { content: '\e877'; } /* '' */
.oi-share:before { content: '\e878'; } /* '' */
.oi-share-alt:before { content: '\e879'; } /* '' */
.oi-search:before { content: '\e87a'; } /* '' */
.oi-save:before { content: '\e87b'; } /* '' */
.oi-sale:before { content: '\e87c'; } /* '' */
.oi-refresh:before { content: '\e87d'; } /* '' */
.oi-print:before { content: '\e87e'; } /* '' */
.oi-power:before { content: '\e87f'; } /* '' */
.oi-plus:before { content: '\e880'; } /* '' */
.oi-play:before { content: '\e881'; } /* '' */
.oi-plane:before { content: '\e882'; } /* '' */
.oi-photo:before { content: '\e883'; } /* '' */
.oi-pencil:before { content: '\e884'; } /* '' */
.oi-pause:before { content: '\e885'; } /* '' */
.oi-paste:before { content: '\e886'; } /* '' */
.oi-news:before { content: '\e887'; } /* '' */
.oi-move:before { content: '\e888'; } /* '' */
.oi-monitor:before { content: '\e889'; } /* '' */
.oi-mobile:before { content: '\e88a'; } /* '' */
.oi-minus:before { content: '\e88b'; } /* '' */
.oi-forward:before { content: '\e88c'; } /* '' */
.oi-frown:before { content: '\e88d'; } /* '' */
.oi-gear:before { content: '\e88e'; } /* '' */
.oi-gplus:before { content: '\e88f'; } /* '' */
.oi-grid:before { content: '\e890'; } /* '' */
.oi-headphone:before { content: '\e891'; } /* '' */
.oi-heart-filled:before { content: '\e892'; } /* '' */
.oi-heart:before { content: '\e893'; } /* '' */
.oi-help:before { content: '\e894'; } /* '' */
.oi-home:before { content: '\e895'; } /* '' */
.oi-info:before { content: '\e896'; } /* '' */
.oi-laptop:before { content: '\e897'; } /* '' */
.oi-like:before { content: '\e898'; } /* '' */
.oi-link:before { content: '\e899'; } /* '' */
.oi-list:before { content: '\e89a'; } /* '' */
.oi-location:before { content: '\e89b'; } /* '' */
.oi-lock:before { content: '\e89c'; } /* '' */
.oi-mail:before { content: '\e89d'; } /* '' */
.oi-menu:before { content: '\e89e'; } /* '' */
.oi-minimize:before { content: '\e89f'; } /* '' */
.oi-forbidden:before { content: '\e8a0'; } /* '' */
.oi-font:before { content: '\e8a1'; } /* '' */
.oi-flag:before { content: '\e8a2'; } /* '' */
.oi-filter:before { content: '\e8a3'; } /* '' */
.oi-file:before { content: '\e8a4'; } /* '' */
.oi-facebook:before { content: '\e8a5'; } /* '' */
.oi-eye:before { content: '\e8a6'; } /* '' */
.oi-external:before { content: '\e8a7'; } /* '' */
.oi-export:before { content: '\e8a8'; } /* '' */
.oi-expand:before { content: '\e8a9'; } /* '' */
.oi-edit:before { content: '\e8aa'; } /* '' */
.oi-download:before { content: '\e8ab'; } /* '' */
.oi-dislike:before { content: '\e8ac'; } /* '' */
.oi-discuss:before { content: '\e8ad'; } /* '' */
.oi-cut:before { content: '\e8ae'; } /* '' */
.oi-cursor:before { content: '\e8af'; } /* '' */
.oi-copy:before { content: '\e8b0'; } /* '' */
.oi-cloud-upload:before { content: '\e8b1'; } /* '' */
.oi-chevron-up:before { content: '\e8b2'; } /* '' */
.oi-chevron-right:before { content: '\e8b3'; } /* '' */
.oi-announce:before { content: '\e8b4'; } /* '' */
.oi-arrow-down:before { content: '\e8b5'; } /* '' */
.oi-arrow-left:before { content: '\e8b6'; } /* '' */
.oi-arrow-right:before { content: '\e8b7'; } /* '' */
.oi-arrow-up:before { content: '\e8b8'; } /* '' */
.oi-attachment:before { content: '\e8b9'; } /* '' */
.oi-backward:before { content: '\e8ba'; } /* '' */
.oi-bell:before { content: '\e8bb'; } /* '' */
.oi-book:before { content: '\e8bc'; } /* '' */
.oi-bookmark:before { content: '\e8bd'; } /* '' */
.oi-building:before { content: '\e8be'; } /* '' */
.oi-calendar:before { content: '\e8bf'; } /* '' */
.oi-call:before { content: '\e8c0'; } /* '' */
.oi-camera:before { content: '\e8c1'; } /* '' */
.oi-cancel:before { content: '\e8c2'; } /* '' */
.oi-cart:before { content: '\e8c3'; } /* '' */
.oi-chat:before { content: '\e8c4'; } /* '' */
.oi-check:before { content: '\e8c5'; } /* '' */
.oi-chevron-down:before { content: '\e8c6'; } /* '' */
.oi-chevron-left:before { content: '\e8c7'; } /* '' */